html, h1, body{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shoreline", cursive;
  transition: color 0.5s;
  font-size: 55px;
}

h1:hover {
  color: #fff;
  cursor: default;
}

ul {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0;
}

iframe {
  width: 100%;
  height: 24rem;
  display: block;
}

.container {
  padding: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.extraDivForMargins {
  padding-top: 15px;
  text-align: center;
  background: linear-gradient(#a1e5fc, white);
}

.headingsAtTop, .aboutMe {
  font-size: 20px;
  margin: 10px;
  margin-top: 40px;
}

.headingsAtTop {
  cursor: pointer;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
}
img {
  /* Means 100 percent of its parent (juliaPicture) */
  width: 100%;
  /* Fixes extra whitespace at end of picture */
  display: block;
}
.juliaPicture {
  /* Use pixels, not % to make the size move with the text size */
  width: 300px;
  /* is this line needed?????? */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: white dotted 6px;
  border-radius: 5px;
}

/* Picture's hover effect */
.juliaPicture .hover_top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  opacity: 0;
}
.juliaPicture img {
  width: 100%;
}
.juliaPicture h3 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  margin: 0;
  visibility: hidden;
}
.juliaPicture:hover .hover_top {
  opacity: 1;
}
.juliaPicture:hover h3 {
  visibility: visible;
}
.clear {
  clear: both;
}

#typedText {
  font-size: 36px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.footer {
  padding: 5px;
  margin-top: 50px;
  margin-right: 5px;
  text-align: right;
  font-size: 15px;
}

.musicDuetHeading {
  margin-top: 40px;
}

/* Removes the underline from all the anchor tags*/
a {
  text-decoration: none;
  color: #50727e;
}

.headingsAtTop a {
  padding: 10px;
  background-color: white;
  margin: 0 20px;
  border-radius: 50px;
}

/* If we want to make individual things have the hover effect, we need a class on it */
.linkHeading:hover {
  background-color: #ddd;
}

.linkHeading {
  transition: background-color, 0.5s;
}

@font-face {
  src: url("ShorelineFont/Shoreline.otf");
  font-family: "Shoreline";
}

@media only screen and (max-width: 600px) {
  /* Makes name smaller for mobile */
  h1 {
    font-size: 40px;
  }

  iframe {
    height: 14rem;
  }

/* Needs to be immediately after iframe */
  .youtubeVid {
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* Makes picture larger for mobile */
  .juliaPicture {
    width: 80%;
    /* Includes the border in the width */
    box-sizing: border-box;
  }
  .youtubeVid {
    width: 90%;
  }

  /* Allows responsive web design */
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .linkHeading {
    display: block;
  }

  .headingsAtTop a {
    margin: 10px 0;
  }
}
